In [91]:
%pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.functions import when

spark = (
    SparkSession.builder
    .config("spark.jars", "/jars/postgresql-42.7.4.jar")
    .appName("pomogi_snachala_sebe")
    .getOrCreate()
)

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [32]:
country_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "country")
    .load()
)

payment_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "payment")
    .load()
)

city_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "city")
    .load()
)

language_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "language")
    .load()
)

address_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "address")
    .load()
)

actor_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "actor")
    .load()
)

category_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "category")
    .load()
)

film_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "film")
    .load()
)

store_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "store")
    .load()
)

customer_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "customer")
    .load()
)

film_actor_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "film_actor")
    .load()
)

film_category_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "film_category")
    .load()
)

inventory_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "inventory")
    .load()
)

staff_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "staff")
    .load()
)

rental_table = (
    spark.read
    .format("jdbc")
    .option("driver", "org.postgresql.Driver")
    .option("url", "jdbc:postgresql://pagila:5432/postgres")
    .option("user", "postgres")
    .option("password", "123456")
    .option("dbtable", "rental")
    .load()
)

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|        2|2022-05-24 21:54:33|        1525|        459|2022-05-28 18:40:33|       1|2022-02-16 02:30:53|
|        3|2022-05-24 22:03:39|        1711|        408|2022-06-01 21:12:39|       1|2022-02-16 02:30:53|
|        4|2022-05-24 22:04:41|        2452|        333|2022-06-03 00:43:41|       2|2022-02-16 02:30:53|
|        5|2022-05-24 22:05:21|        2079|        222|2022-06-02 03:33:21|       1|2022-02-16 02:30:53|
|        6|2022-05-24 22:08:07|        2792|        549|2022-05-27 00:32:07|       1|2022-02-16 02:30:53|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
only showing top 5 rows

In [53]:
# Вывести количество фильмов в каждой категории, отсортировать по убыванию.

count_films_by_category_df = category_table\
    .join(film_category_table, category_table.category_id == film_category_table.category_id, "left")\
    .join(film_table, film_category_table.film_id == film_table.film_id, "left")\
    .groupBy(category_table.name).count()\
    .sort("count", ascending=False)

count_films_by_category_df.show()

+-----------+-----+
|       name|count|
+-----------+-----+
|      Drama|  152|
|      Music|  152|
|     Travel|  151|
|    Foreign|  150|
|      Games|  150|
|   Children|  150|
|     Action|  149|
|     Sci-Fi|  149|
|  Animation|  148|
|     Family|  147|
|   Classics|  147|
|        New|  147|
|     Sports|  145|
|Documentary|  145|
|     Comedy|  143|
|     Horror|  142|
+-----------+-----+

In [56]:
# Вывести 10 актеров, чьи фильмы большего всего арендовали, отсортировать по убыванию.

most_rental_actors_df = actor_table\
    .join(film_actor_table, actor_table.actor_id == film_actor_table.actor_id, "left")\
    .join(film_table, film_actor_table.film_id == film_table.film_id, "left")\
    .join(inventory_table, film_table.film_id == inventory_table.film_id, "left")\
    .join(rental_table, inventory_table.inventory_id == rental_table.inventory_id, "left")\
    .groupBy(actor_table.actor_id, actor_table.first_name, actor_table.last_name)\
    .count()\
    .sort("count", ascending=False)\
    .limit(10)

most_rental_actors_df.show()

+--------+----------+-----------+-----+
|actor_id|first_name|  last_name|count|
+--------+----------+-----------+-----+
|     107|      GINA|  DEGENERES|  753|
|     181|   MATTHEW|     CARREY|  680|
|     198|      MARY|     KEITEL|  675|
|     144|    ANGELA|WITHERSPOON|  654|
|     102|    WALTER|       TORN|  642|
|      60|     HENRY|      BERRY|  612|
|     150|     JAYNE|      NOLTE|  612|
|      23|    SANDRA|     KILMER|  605|
|      37|       VAL|     BOLGER|  605|
|      90|      SEAN|    GUINESS|  599|
+--------+----------+-----------+-----+

In [75]:
# Вывести категорию фильмов, на которую потратили больше всего денег.

most_expensive_category_df = category_table\
    .join(film_category_table, category_table.category_id == film_category_table.category_id, "left")\
    .join(film_table, film_category_table.film_id == film_table.film_id, "left")\
    .join(inventory_table, film_table.film_id == inventory_table.film_id, "left")\
    .join(rental_table, inventory_table.inventory_id == rental_table.inventory_id, "left")\
    .join(payment_table, rental_table.rental_id == payment_table.rental_id, "left")\
    .groupBy(category_table.category_id, category_table.name)\
    .agg(F.sum(payment_table.amount).alias("total_spent"))\
    .sort("total_spent", ascending=False)\
    .limit(1)

most_expensive_category_df.show()

+-----------+-------+-----------+
|category_id|   name|total_spent|
+-----------+-------+-----------+
|          9|Foreign|   10507.67|
+-----------+-------+-----------+

In [73]:
# Вывести названия фильмов, которых нет в inventory.

not_in_inventory_df = film_table\
    .select("film_id", "title")\
    .join(inventory_table, film_table.film_id == inventory_table.film_id, "leftanti")

not_in_inventory_df.show(not_in_inventory_df.count(), truncate=False)

+-------+----------------------+
|film_id|title                 |
+-------+----------------------+
|148    |CHOCOLATE DUCK        |
|108    |BUTCH PANTHER         |
|950    |VOLUME HOUSE          |
|642    |ORDER BETRAYED        |
|874    |TADPOLE PARK          |
|497    |KILL BROTHERHOOD      |
|332    |FRANKENSTEIN STRANGER |
|192    |CROSSING DIVORCE      |
|860    |SUICIDES SILENCE      |
|128    |CATCH AMISTAD         |
|671    |PERDITION FARGO       |
|325    |FLOATS GARDEN         |
|386    |GUMP DATE             |
|955    |WALLS ARTIST          |
|359    |GLADIATOR WESTWARD    |
|419    |HOCUS FRIDA           |
|41     |ARSENIC INDEPENDENCE  |
|607    |MUPPET MILE           |
|318    |FIREHOUSE VIETNAM     |
|742    |ROOF CHAMPION         |
|217    |DAZED PUNK            |
|669    |PEARL DESTINY         |
|713    |RAINBOW SHOCK         |
|495    |KENTUCKIAN GIANT      |
|87     |BOONDOCK BALLROOM     |
|171    |COMMANDMENTS EXPRESS  |
|404    |HATE HANDICAP         |
|38     |ARK RIDGEMONT         |
|195    |CROWDS TELEMARK       |
|221    |DELIVERANCE MULHOLLAND|
|712    |RAIDERS ANTITRUST     |
|801    |SISTER FREDDY         |
|943    |VILLAIN DESPERATE     |
|33     |APOLLO TEEN           |
|14     |ALICE FANTASIA        |
|198    |CRYSTAL BREAKING      |
|909    |TREASURE COMMAND      |
|802    |SKY MIRACLE           |
|144    |CHINATOWN GLADIATOR   |
|701    |PSYCHO SHRUNK         |
|36     |ARGONAUTS TOWN        |
|954    |WAKE JAWS             |
+-------+----------------------+

In [89]:
# Вывести топ 3 актеров, которые больше всего появлялись в фильмах в категории “Children”. 
# Если у нескольких актеров одинаковое кол-во фильмов, вывести всех.

actor_film_count_df = actor_table\
    .join(film_actor_table, actor_table.actor_id == film_actor_table.actor_id, "left")\
    .join(film_table, film_actor_table.film_id == film_table.film_id, "left")\
    .join(film_category_table, film_table.film_id == film_category_table.film_id, "left")\
    .join(category_table, film_category_table.category_id == category_table.category_id, "left")\
    .filter(category_table.name == "Children")\
    .groupBy(actor_table.actor_id, actor_table.first_name, actor_table.last_name)\
    .agg(F.count(category_table.category_id).alias("amount_of_children_films"))

window_spec = Window.orderBy(F.col("amount_of_children_films").desc())

ranked_actors_df = actor_film_count_df\
    .withColumn("rk", F.dense_rank().over(window_spec))

top_actors_df = ranked_actors_df.filter(F.col("rk") <= 3)

top_actors_df.select("actor_id", "first_name", "last_name", "amount_of_children_films").show(top_actors_df.count())

+--------+----------+---------+------------------------+
|actor_id|first_name|last_name|amount_of_children_films|
+--------+----------+---------+------------------------+
|     105|    SIDNEY|    CROWE|                       9|
|     139|      EWAN|  GOODING|                       9|
|     133|   RICHARD|     PENN|                       9|
|      87|   SPENCER|     PECK|                       8|
|     145|       KIM|    ALLEN|                       8|
|      66|      MARY|    TANDY|                       8|
|      29|      ALEC|    WAYNE|                       8|
|      56|       DAN|   HARRIS|                       8|
|     149|   RUSSELL|   TEMPLE|                       8|
|     181|   MATTHEW|   CARREY|                       8|
|     131|      JANE|  JACKMAN|                       8|
|     142|      JADA|    RYDER|                       8|
|      84|     JAMES|     PITT|                       7|
|     108|    WARREN|    NOLTE|                       7|
|     123|  JULIANNE|    DENCH|                       7|
|      34|    AUDREY|  OLIVIER|                       7|
|      96|      GENE|   WILLIS|                       7|
|      65|    ANGELA|   HUDSON|                       7|
|      95|     DARYL| WAHLBERG|                       7|
|      94|   KENNETH|     TORN|                       7|
|      85|    MINNIE|ZELLWEGER|                       7|
|      17|     HELEN|   VOIGHT|                       7|
+--------+----------+---------+------------------------+

In [151]:
# Вывести города с количеством активных и неактивных клиентов (активный — customer.active = 1). 
# Отсортировать по количеству неактивных клиентов по убыванию.

city_customers_df = city_table\
    .join(address_table, city_table.city_id == address_table.city_id, "left")\
    .join(customer_table, address_table.address_id == customer_table.address_id, "left")\
    .groupBy(city_table.city_id, city_table.city)\
    .agg(
        F.sum(when(customer_table.active == 1, 1).otherwise(0)).alias("active_customers"),
        F.sum(when(customer_table.active == 0, 1).otherwise(0)).alias("inactive_customers")
    )\
    .sort("inactive_customers", ascending=False)

city_customers_df.show()

+-------+----------------+----------------+------------------+
|city_id|            city|active_customers|inactive_customers|
+-------+----------------+----------------+------------------+
|    577|         Wroclaw|               0|                 1|
|    578|        Xiangfan|               0|                 1|
|    111|Charlotte Amalie|               0|                 1|
|    259|          Kamyin|               0|                 1|
|    512|     Szkesfehrvr|               0|                 1|
|    139|          Daxian|               0|                 1|
|    283|      Kumbakonam|               0|                 1|
|     57|         Bat Yam|               0|                 1|
|    554|        Uluberia|               0|                 1|
|    495| Southend-on-Sea|               0|                 1|
|    356|       Najafabad|               0|                 1|
|     24|          Amroha|               0|                 1|
|    125|   Coatzacoalcos|               0|                 1|
|    281|          Ktahya|               0|                 1|
|    407|       Pingxiang|               0|                 1|
|    148|        Duisburg|               1|                 0|
|    463|          Sasebo|               1|                 0|
|    471|        Shenzhen|               1|                 0|
|    496|       Southport|               1|                 0|
|    243|         Jodhpur|               1|                 0|
+-------+----------------+----------------+------------------+
only showing top 20 rows

In [147]:
# Вывести категорию фильмов, у которой самое большое кол-во часов суммарной аренды в городах (customer.address_id в этом city), 
# и которые начинаются на букву “a”. Тоже самое сделать для городов в которых есть символ “-”.

rental_hours_df = city_table\
    .join(address_table, city_table.city_id == address_table.city_id, "left")\
    .join(customer_table, address_table.address_id == customer_table.address_id, "left")\
    .join(rental_table, customer_table.customer_id == rental_table.customer_id, "left")\
    .join(inventory_table, rental_table.inventory_id == inventory_table.inventory_id, "left")\
    .join(film_table, inventory_table.film_id == film_table.film_id, "left")\
    .join(film_category_table, film_table.film_id == film_category_table.film_id, "left")\
    .join(category_table, film_category_table.category_id == category_table.category_id, "left")\
    .groupBy(category_table.name.alias("category_name"), city_table.city.alias("city_name"))\
    .agg(F.sum((F.unix_timestamp(rental_table.return_date) - F.unix_timestamp(rental_table.rental_date)) / 3600).alias("total_hours"))

category_hours_a_df = rental_hours_df\
    .filter(rental_hours_df.city_name.startswith("A"))\
    .groupBy(rental_hours_df.category_name)\
    .agg(F.sum(rental_hours_df.total_hours).alias("category_total_hours"))

category_hours_dash_df = rental_hours_df\
    .filter((rental_hours_df.city_name).contains("-"))\
    .groupBy(rental_hours_df.category_name)\
    .agg(F.sum(rental_hours_df.total_hours).alias("category_total_hours"))

max_category_a_df = category_hours_a_df\
    .orderBy((category_hours_a_df.category_total_hours).desc())\
    .limit(1)

max_category_dash_df = category_hours_dash_df\
    .orderBy(category_hours_dash_df.category_total_hours.desc())\
    .limit(1)

final_result_df = max_category_a_df.withColumn("category_type", F.lit("City starting with 'A'"))\
    .union(max_category_dash_df.withColumn("category_type", F.lit("City with '-'")))

final_result_df.show(truncate=False)

+-------------+--------------------+----------------------+
|category_name|category_total_hours|category_type         |
+-------------+--------------------+----------------------+
|Children     |24427.999999999993  |City starting with 'A'|
|Drama        |14556.033333333335  |City with '-'         |
+-------------+--------------------+----------------------+